In [ ]:
#Write a program,  my age is more than 20 print teen_age other wise print younge_age?
#	a.my_age is 20, who am i? Expected output: you are teen_age
#	b.my_age is 30, who am i? Expected output: you are younge_age
#	c.my_age is 10, who am i? 
#	d.my_age is 40, who am i

In [ ]:
#	a.my_age is 20, who am i?
# Expected output: you are teen_age
#Expected output: you are younge_age

In [1]:
my_age=20
if my_age==20:
    print("you are teen_age")
else:
    print("you are younge_age")

you are teen_age

In [ ]:
#	b.my_age is 30, who am i?
#Expected output: you are teen_age
#Expected output: you are younge_age

In [2]:
my_age=30
if my_age==30:
    print("you are younge_age")
else:
    print("you are teen_age")

you are younge_age

In [ ]:
#	c.my_age is 10, who am i? 
#Expected output: you are teen_age
#Expected output: you are younge_age

In [3]:
my_age=10
if my_age==10:
    print("you are children")
else:
    print("you are younge_age")

you are children

In [ ]:
#	d.my_age is 40, who am i?
#Expected output: you are teen_age
#Expected output: you are younge_age

In [4]:
my_age=40
if my_age==40:
    print("you are middle_age")
else:
    print("you are younge_age")

you are middle_age

In [ ]:
#Write a program today is Monday/Tuesday/Wendsday/Thursday/Friday print weekday otherwise print weekend?

In [5]:
today="thursday"
if today=="monday":
    print(" this is weeday")
elif today=="tuesday":
    print(" this is weeday")
elif today=="wendsday": 
    print(" this is weekday")
elif today=="thursday":
    print("this is weekday")  
elif today=="friday":    
    print("this is weekday")
elif today=="saturday":    
    print("this is weekend")
elif today=="sunday":    
    print("this is weekend")    
else:
    print("not a available")

this is weekday

In [ ]:
#Scenario1: Today my business income is 10/- if my income is more than 10/- then print "i am profitable" otherwise print "i lost"
#ఈ రోజు నా ఆదాయం 10. నా ఆదాయం 10 కంటే ఎక్కువ ఉంటే ప్రింట్ నేను లాభదాయకంగా ఉన్నాను లేకపోతే నేను పోగొట్టుకున్నాను.

In [6]:
income=10
if income>10:
    print("i am profitble")
else:
    print("i am lost")

i am lost

In [ ]:
#Scenario2: your age is more than your sister age then print "i am elder" otherwise print "i am younger"
#మీ వయస్సు మీ సోదరి వయస్సు కంటే ఎక్కువగా ఉంటే, నేను పెద్దవాడిని అని ముద్రించండి లేకపోతే నేను చిన్నవాడిని అని ముద్రించండి

In [7]:
your_age=19
sister_age=18
if your_age>sister_age:
    print("i am elder")
else:
    print("i am younger")

i am elder

In [ ]:
#Scenario3:festival offer in my shop. 
#purchase amount more than 100 then print 30% discount.
 #purchase amount less than 50 then print 10% discount 
# otherwise print 20% discount.	
 #నా దుకాణంలో పండుగ ఆఫర్. కొనుగోలు మొత్తం 100 కంటే ఎక్కువ, ఆపై ప్రింట్ 30% తగ్గింపు. 50 కంటే తక్కువ మొత్తాన్ని కొనుగోలు చేసి, ఆపై 10% తగ్గింపును ప్రింట్ చేయండి లేకపోతే 20% తగ్గింపును ప్రింట్ చేయండి

In [8]:
amount=140
if amount>100:
    print("30% discount")
elif amount<50:
    print("10% discount")
else:
    print("20% discount")

30% discount

In [ ]:
 
 #Scenario4:my movie theater prices. price is 140 print balcony. price is 50 print chair. price is 100 print bench
 
#నా సినిమా థియేటర్ ధరలు. ధర 140 ప్రింట్ బాల్కనీ. ధర 50 ప్రింట్ కుర్చీ. ధర 100 ప్రింట్ బెంచ్

In [9]:
prices=140
if prices==140:
    print("balcony")
elif prices==50:
    print(" chair")
elif prices==100:
    print(" bench")
else:
    print("not a available")

balcony

In [ ]:
#cenario5: my showroom vehicle types. 
#if vehicle type is two wheeler print bike and scooty. 
#if vehicle type is four wheeler print car, loory, van and zeep
#నా షోరూమ్ వాహనాల రకాలు. వాహనం రకం టూ వీలర్ ప్రింట్ బైక్ మరియు స్కూటీ అయితే. వాహనం రకం ఫోర్ వీలర్ ప్రింట్ కారు అయితే, లూరీ, వ్యాన్ మరియు జీప్

In [10]:
type="four wheeler"
if type=="two wheeler":
    print("bike and scooty")
elif type=="four wheeler":
    print("car, loory, van and zeep")
else:
    print("not a available")

car, loory, van and zeep